nodered-the-things-network-mysql.json
[{"id":"21229711.d7c67","type":"tab","label":"mandon","disabled":false,"info":""},{"id":"d019eb0d.d8db28","type":"mysql","z":"21229711.d7c67","mydb":"c357842.d186cf8","name":"Base de données MySQL","x":510,"y":180,"wires":[["f85aed85.b8c07"]]},{"id":"f9972009.9eda08","type":"json","z":"21229711.d7c67","name":"Conversion JSON","property":"payload","action":"","pretty":false,"x":210,"y":180,"wires":[["a442921b.876a68"]]},{"id":"23bd66e0.65962a","type":"mqtt in","z":"21229711.d7c67","name":"MQTT my_node","topic":"mandon/devices/mandon-test/up","qos":"0","broker":"63a520fc.e7ead","x":100,"y":120,"wires":[["f9972009.9eda08"]]},{"id":"a442921b.876a68","type":"function","z":"21229711.d7c67","name":"Requête SQL","func":"//var value = msg.payload.payload_fields.payload;\n// msg.payload = \"insert into mandon_test (temperature) values (\"+value+\")\";\n//return msg;\n\ndate = msg.payload.metadata.time;\ndate = date.slice(0, -4);\nvalue = msg.payload.payload_fields.payload;\nreturn {\ntopic: \"INSERT INTO `my_node`(`id`, `date`, `temperature`) VALUES (NULL,'\" + date + \"','\" + value + \"');\"\n};\n","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["d019eb0d.d8db28","f85aed85.b8c07"]]},{"id":"f85aed85.b8c07","type":"debug","z":"21229711.d7c67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":120,"wires":[]},{"id":"c357842.d186cf8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"applications","tz":""},{"id":"63a520fc.e7ead","type":"mqtt-broker","z":"","name":"TTN Application","broker":"eu.thethings.network","port":"8883","tls":"f8895306.9733f","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8895306.9733f","type":"tls-config","z":"","name":"TTN MQTT CA","cert":"","key":"","ca":"mqtt-ca.pem","certname":"","keyname":"","caname":"","verifyservercert":true}]
